@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700;900&display=swap");
/* line 1, ../_sass/css/common/_global.scss */
body { font-family: 'Noto Sans TC', sans-serif; font-size: 16px; font-weight: 400; line-height: 1.8; background-color: #000; }

/* line 11, ../_sass/css/common/_global.scss */
.font-family-serif { font-family: 'Noto Serif TC', sans-serif; }

/* line 15, ../_sass/css/common/_global.scss */
header { position: fixed; left: 0; top: 0; width: 100%; height: 40px; background-color: white; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); z-index: 100; }
@media (min-width: 1200px) { /* line 15, ../_sass/css/common/_global.scss */
  header { height: 70px; } }

/* line 30, ../_sass/css/common/_global.scss */
img { width: 100%; }

/* line 35, ../_sass/css/common/_global.scss */
.arrow-left { position: absolute; left: 10px; top: 50%; width: 30px; transform: translateY(-50%); transition: left 0.3s ease-in-out; z-index: 1; cursor: pointer; }
/* line 45, ../_sass/css/common/_global.scss */
.arrow-left::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/cases/arrow_left_filter.png) no-repeat center center; background-size: contain; opacity: 0; animation: arrowFlash 1.6s infinite; }
/* line 58, ../_sass/css/common/_global.scss */
.arrow-left:hover { left: 5px; }

/* line 63, ../_sass/css/common/_global.scss */
.arrow-right { position: absolute; right: 10px; top: 50%; width: 30px; transform: translateY(-50%); transition: right 0.3s ease-in-out; z-index: 1; cursor: pointer; }
/* line 73, ../_sass/css/common/_global.scss */
.arrow-right::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/cases/arrow_right_filter.png) no-repeat center center; background-size: contain; opacity: 0; animation: arrowFlash 1.6s infinite; }
/* line 86, ../_sass/css/common/_global.scss */
.arrow-right:hover { right: 5px; }

/* line 1, ../_sass/css/page/_kol.scss */
.kols { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 40; overflow-x: hidden; overflow-y: auto; background: url(../images/entrance/bg_2.jpg) no-repeat center center; background-size: cover; }
/* line 14, ../_sass/css/page/_kol.scss */
.kols.visible { visibility: visible; }
/* line 18, ../_sass/css/page/_kol.scss */
.kols .kols-container { position: absolute; left: 0; top: 0; width: 100%; height: 100%; min-height: 640px; }
@media (min-width: 576px) { /* line 18, ../_sass/css/page/_kol.scss */
  .kols .kols-container { min-height: 950px; } }
@media (min-width: 768px) { /* line 18, ../_sass/css/page/_kol.scss */
  .kols .kols-container { min-height: 1020px; } }
@media (min-width: 992px) { /* line 18, ../_sass/css/page/_kol.scss */
  .kols .kols-container { min-height: 700px; } }
@media (min-width: 1200px) { /* line 18, ../_sass/css/page/_kol.scss */
  .kols .kols-container { min-height: 780px; } }
/* line 43, ../_sass/css/page/_kol.scss */
.kols .kols-container .title-container .pattern { margin-top: 60px; width: 55%; }
@media (min-width: 576px) { /* line 43, ../_sass/css/page/_kol.scss */
  .kols .kols-container .title-container .pattern { margin-top: 70px; width: 50%; } }
@media (min-width: 992px) { /* line 43, ../_sass/css/page/_kol.scss */
  .kols .kols-container .title-container .pattern { margin-top: 90px; } }
/* line 57, ../_sass/css/page/_kol.scss */
.kols .kols-container .title-container .title { width: 35%; margin-top: 6px; }
@media (min-width: 576px) { /* line 57, ../_sass/css/page/_kol.scss */
  .kols .kols-container .title-container .title { margin-top: 10px; width: 26%; } }
/* line 67, ../_sass/css/page/_kol.scss */
.kols .kols-container .title-container .des { color: #fff; font-size: 16px; font-weight: 600; margin-top: 6px; }
@media (min-width: 576px) { /* line 67, ../_sass/css/page/_kol.scss */
  .kols .kols-container .title-container .des { margin-top: 10px; font-size: 20px; } }
/* line 80, ../_sass/css/page/_kol.scss */
.kols .kols-container .kol-container { overflow: hidden; width: 100%; }
@media (min-width: 1200px) { /* line 80, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container { max-width: 1330px; } }
/* line 88, ../_sass/css/page/_kol.scss */
.kols .kols-container .kol-container .kol { cursor: pointer; position: relative; padding: 0 15px; }
@media (min-width: 768px) { /* line 88, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol { padding: 0 50px; } }
@media (min-width: 992px) { /* line 88, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol { padding: 0; } }
/* line 102, ../_sass/css/page/_kol.scss */
.kols .kols-container .kol-container .kol:nth-child(odd) .description { left: 10%; }
/* line 107, ../_sass/css/page/_kol.scss */
.kols .kols-container .kol-container .kol:nth-child(even) .description { left: 10%; }
@media (min-width: 992px) { /* line 107, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol:nth-child(even) .description { left: 6%; } }
/* line 116, ../_sass/css/page/_kol.scss */
.kols .kols-container .kol-container .kol .cover { position: absolute; left: 0; top: 4%; width: 70%; }
@media (min-width: 768px) { /* line 116, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol .cover { left: 0; top: 8%; width: 50%; } }
/* line 129, ../_sass/css/page/_kol.scss */
.kols .kols-container .kol-container .kol .title { position: absolute; left: 36%; top: 2%; width: 62%; }
@media (min-width: 768px) { /* line 129, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol .title { left: 38%; top: 10%; width: 40%; } }
/* line 142, ../_sass/css/page/_kol.scss */
.kols .kols-container .kol-container .kol .magnifier { position: absolute; left: 66%; top: 23%; width: 20%; }
@media (min-width: 768px) { /* line 142, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol .magnifier { left: 58%; top: 28%; width: 12%; } }
/* line 155, ../_sass/css/page/_kol.scss */
.kols .kols-container .kol-container .kol .description { position: absolute; top: 40%; width: 80%; height: 50%; font-size: 14px; font-weight: 500; line-height: 1.8; color: #000; margin-bottom: 0; }
@media (min-width: 576px) { /* line 155, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol .description { font-size: 18px; } }
@media (min-width: 992px) { /* line 155, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol .description { top: 58%; height: 30%; font-size: 14px; line-height: 1.4; } }
@media (min-width: 1200px) { /* line 155, ../_sass/css/page/_kol.scss */
  .kols .kols-container .kol-container .kol .description { line-height: 1.8; } }
/* line 184, ../_sass/css/page/_kol.scss */
.kols .kols-container .btn-container { padding: 0 1rem; }
/* line 186, ../_sass/css/page/_kol.scss */
.kols .kols-container .btn-container a { width: 200px; }
@media (min-width: 1200px) { /* line 186, ../_sass/css/page/_kol.scss */
  .kols .kols-container .btn-container a { width: 240px; } }
@keyframes arrowFlash { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
