@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700;900&display=swap");
/* line 1, ../_sass/css/common/_global.scss */
body { font-family: 'Noto Sans TC', sans-serif; font-size: 16px; font-weight: 400; line-height: 1.8; background-color: #000; }

/* line 11, ../_sass/css/common/_global.scss */
.font-family-serif { font-family: 'Noto Serif TC', sans-serif; }

/* line 15, ../_sass/css/common/_global.scss */
header { position: fixed; left: 0; top: 0; width: 100%; height: 40px; background-color: white; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); z-index: 100; }
@media (min-width: 1200px) { /* line 15, ../_sass/css/common/_global.scss */
  header { height: 70px; } }

/* line 30, ../_sass/css/common/_global.scss */
img { width: 100%; }

/* line 34, ../_sass/css/common/_global.scss */
.slick-slide { outline: none; }

/* line 39, ../_sass/css/common/_global.scss */
.arrow-left { position: absolute; left: 10px; top: 50%; width: 30px; transform: translateY(-50%); transition: left 0.3s ease-in-out; z-index: 1; cursor: pointer; }
/* line 49, ../_sass/css/common/_global.scss */
.arrow-left::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/cases/arrow_left_filter.png) no-repeat center center; background-size: contain; opacity: 0; animation: arrowFlash 1.6s infinite; }
/* line 62, ../_sass/css/common/_global.scss */
.arrow-left:hover { left: 5px; }

/* line 67, ../_sass/css/common/_global.scss */
.arrow-right { position: absolute; right: 10px; top: 50%; width: 30px; transform: translateY(-50%); transition: right 0.3s ease-in-out; z-index: 1; cursor: pointer; }
/* line 77, ../_sass/css/common/_global.scss */
.arrow-right::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/cases/arrow_right_filter.png) no-repeat center center; background-size: contain; opacity: 0; animation: arrowFlash 1.6s infinite; }
/* line 90, ../_sass/css/common/_global.scss */
.arrow-right:hover { right: 5px; }

/* line 3, ../_sass/css/page/header.scss */
header { position: fixed; width: 100%; height: 70px; background-color: #fff; z-index: 9999; top: 0; left: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); font-family: 'PingFangTC', 'Heiti TC', 'Microsoft JhengHei', 'Noto Sans Myanmar','Arial', 'sans-serif'; }
/* line 16, ../_sass/css/page/header.scss */
header a { text-decoration: none; background-color: transparent; }
/* line 19, ../_sass/css/page/header.scss */
header a:hover { text-decoration: underline; }
/* line 24, ../_sass/css/page/header.scss */
header .bg-pc { display: block; }
/* line 29, ../_sass/css/page/header.scss */
header .bg-mobile { display: none; }
/* line 34, ../_sass/css/page/header.scss */
header img { vertical-align: middle; border-style: none; }
@media (max-width: 992px) { /* line 3, ../_sass/css/page/header.scss */
  header { overflow: unset; height: 40px; }
  /* line 42, ../_sass/css/page/header.scss */
  header .bg-pc { display: none; }
  /* line 46, ../_sass/css/page/header.scss */
  header .bg-mobile { display: block; } }
/* line 52, ../_sass/css/page/header.scss */
header .header__logo { margin-left: 18px; height: 100%; }
/* line 55, ../_sass/css/page/header.scss */
header .header__logo img { width: auto; height: 100%; }
/* line 60, ../_sass/css/page/header.scss */
header .header__menu { position: absolute; width: 22px; top: 7px; right: 10px; }
/* line 65, ../_sass/css/page/header.scss */
header .header__menu img { width: 100%; height: auto; }
/* line 71, ../_sass/css/page/header.scss */
header .header__nav { position: absolute; right: 0; top: 0; font-size: 0.9em; }
/* line 77, ../_sass/css/page/header.scss */
header .header__nav > li { position: relative; display: inline-block; list-style-type: none; margin-left: 0.8vw; margin-right: 0.8vw; line-height: 70px; z-index: 2; }
/* line 85, ../_sass/css/page/header.scss */
header .header__nav > li.bg-pc { display: inline-block; }
/* line 88, ../_sass/css/page/header.scss */
header .header__nav > li.bg-mobile { display: none; }
/* line 92, ../_sass/css/page/header.scss */
header .header__nav > li a { color: #000; }
/* line 98, ../_sass/css/page/header.scss */
header .header__nav span.bg-pc { display: inline-block; }
/* line 101, ../_sass/css/page/header.scss */
header .header__nav span.bg-mobile { display: none; }
@media (max-width: 1300px) { /* line 71, ../_sass/css/page/header.scss */
  header .header__nav { font-size: 0.5em; } }
@media (max-width: 1000px) { /* line 112, ../_sass/css/page/header.scss */
  header .header__nav li { margin-left: 0.5vw; margin-right: 0.5vw; } }
@media (max-width: 992px) { /* line 71, ../_sass/css/page/header.scss */
  header .header__nav { font-size: 0.8em; width: 100%; z-index: 9999; position: absolute; top: -1019px; border-top: 1px solid #b11a21; }
  /* line 127, ../_sass/css/page/header.scss */
  header .header__nav span { display: none; }
  /* line 129, ../_sass/css/page/header.scss */
  header .header__nav span.bg-pc { display: none; }
  /* line 132, ../_sass/css/page/header.scss */
  header .header__nav span.bg-mobile { display: inline-block; }
  /* line 137, ../_sass/css/page/header.scss */
  header .header__nav > li { width: 100%; background-color: #fff; margin: 0; font-size: 16px; height: 40px; line-height: 40px; border-bottom: #c0c0c0 1px solid; font-weight: bold; padding-left: 85px; }
  /* line 150, ../_sass/css/page/header.scss */
  header .header__nav > li.bg-pc { display: none; }
  /* line 153, ../_sass/css/page/header.scss */
  header .header__nav > li.bg-mobile { display: inline-block; }
  /* line 157, ../_sass/css/page/header.scss */
  header .header__nav > li a { position: relative; }
  /* line 159, ../_sass/css/page/header.scss */
  header .header__nav > li a::before { content: ""; width: 8px; height: 8px; display: block; background-color: #b11a21; border-radius: 50%; position: absolute; left: -15px; top: 50%; transform: translateY(-50%); }
  /* line 175, ../_sass/css/page/header.scss */
  header .header__nav .header__nav--share { padding-left: 65px; height: 40px; } }
/* line 183, ../_sass/css/page/header.scss */
header .header__nav .menudown > ul { position: absolute; top: 50%; left: 50%; transform: translateX(-50%); display: flex; justify-content: center; width: 240px; height: auto; padding: 0; margin: 0; background-color: #b11a21; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); border-radius: 50px; opacity: 0; list-style: none; transition: 0.5s; pointer-events: none; }
/* line 201, ../_sass/css/page/header.scss */
header .header__nav .menudown > ul > li { position: relative; display: block; width: auto; margin: 0; text-align: center; line-height: 1em; }
/* line 208, ../_sass/css/page/header.scss */
header .header__nav .menudown > ul > li a { position: relative; display: block; padding: 7px; color: #fff; }
/* line 216, ../_sass/css/page/header.scss */
header .header__nav .menudown > ul > li:nth-child(odd) a::after { content: ""; position: absolute; top: 50%; right: 0; transform: translateY(-50%); width: 1px; height: 50%; background-color: #fff; }
/* line 231, ../_sass/css/page/header.scss */
header .header__nav .menudown:hover > ul { top: 80%; opacity: 1; pointer-events: auto; }
@media (max-width: 992px) { /* line 182, ../_sass/css/page/header.scss */
  header .header__nav .menudown { height: auto; }
  /* line 239, ../_sass/css/page/header.scss */
  header .header__nav .menudown > ul { display: block; position: relative; left: -140px; top: 0; height: auto; width: calc(100% + 140px); background-color: #fff; opacity: 1; border-radius: 0; box-shadow: none; transform: none; }
  /* line 251, ../_sass/css/page/header.scss */
  header .header__nav .menudown > ul > li { height: auto; text-align: left; padding-left: 180px; }
  /* line 255, ../_sass/css/page/header.scss */
  header .header__nav .menudown > ul > li a { color: #000; } }
/* line 264, ../_sass/css/page/header.scss */
header .header__nav__share { cursor: pointer; }
/* line 267, ../_sass/css/page/header.scss */
header .header__nav__share img { height: 35px; width: auto; }
@media (max-width: 992px) { /* line 273, ../_sass/css/page/header.scss */
  header .header__nav__share img { margin-top: -3px; height: 28px; width: auto; } }
/* line 280, ../_sass/css/page/header.scss */
header .header__nav__share:hover { -webkit-filter: brightness(1.1); filter: brightness(1.1); }

/* line 1, ../_sass/css/page/_qa.scss */
.questions { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 40; overflow-x: hidden; overflow-y: auto; background: url(../images/entrance/bg_2.jpg) no-repeat center center; background-size: cover; }
/* line 13, ../_sass/css/page/_qa.scss */
.questions.visible { visibility: visible; }
/* line 17, ../_sass/css/page/_qa.scss */
.questions .questions-container { position: absolute; left: 0; top: 0; width: 100%; height: 100%; min-height: 600px; }
@media (min-width: 576px) { /* line 17, ../_sass/css/page/_qa.scss */
  .questions .questions-container { min-height: 720px; } }
/* line 29, ../_sass/css/page/_qa.scss */
.questions .questions-container.active { min-height: 640px; }
@media (min-width: 576px) { /* line 29, ../_sass/css/page/_qa.scss */
  .questions .questions-container.active { min-height: 920px; } }
@media (min-width: 768px) { /* line 29, ../_sass/css/page/_qa.scss */
  .questions .questions-container.active { min-height: 1070px; } }
@media (min-width: 992px) { /* line 29, ../_sass/css/page/_qa.scss */
  .questions .questions-container.active { min-height: 920px; } }
@media (min-width: 1200px) { /* line 29, ../_sass/css/page/_qa.scss */
  .questions .questions-container.active { min-height: 920px; } }
/* line 50, ../_sass/css/page/_qa.scss */
.questions .questions-container .title-container .pattern { margin-top: 60px; width: 70%; margin-left: 1.5rem; }
@media (min-width: 768px) { /* line 50, ../_sass/css/page/_qa.scss */
  .questions .questions-container .title-container .pattern { margin-top: 70px; width: 45%; } }
@media (min-width: 992px) { /* line 50, ../_sass/css/page/_qa.scss */
  .questions .questions-container .title-container .pattern { margin-top: 90px; } }
/* line 65, ../_sass/css/page/_qa.scss */
.questions .questions-container .title-container .sub-pattern { position: relative; width: 50%; margin-left: -2%; }
@media (min-width: 768px) { /* line 65, ../_sass/css/page/_qa.scss */
  .questions .questions-container .title-container .sub-pattern { width: 35%; } }
/* line 74, ../_sass/css/page/_qa.scss */
.questions .questions-container .title-container .sub-pattern .sub-pattern-line { position: absolute; left: 36%; top: 30%; width: 62%; }
@media (min-width: 768px) { /* line 74, ../_sass/css/page/_qa.scss */
  .questions .questions-container .title-container .sub-pattern .sub-pattern-line { top: 40%; } }
/* line 86, ../_sass/css/page/_qa.scss */
.questions .questions-container .title-container .des { color: #fff; font-size: 16px; font-weight: 600; margin-top: 6px; }
@media (min-width: 576px) { /* line 86, ../_sass/css/page/_qa.scss */
  .questions .questions-container .title-container .des { margin-top: 10px; font-size: 20px; } }
/* line 99, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper { width: 100%; max-width: 346px; }
@media (min-width: 576px) { /* line 99, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper { max-width: 480px; } }
@media (min-width: 768px) { /* line 99, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper { max-width: 600px; } }
@media (min-width: 992px) { /* line 99, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper { max-width: 1000px; } }
/* line 115, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper.active { flex-grow: 1; }
/* line 119, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .description-container { margin-top: 1.5rem; }
/* line 122, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .description-container .description { color: #fff; font-size: 16px; font-weight: 600; white-space: pre; }
@media (min-width: 576px) { /* line 122, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .description-container .description { font-size: 18px; } }
/* line 133, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .description-container .link-rule { visibility: hidden; opacity: 0; margin-top: 1rem; color: #fff; font-size: 16px; font-style: italic; text-decoration: underline; cursor: pointer; }
/* line 144, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .description-container .btn-start { visibility: hidden; opacity: 0; margin-top: 1rem; width: 220px; cursor: pointer; }
@media (min-width: 576px) { /* line 144, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .description-container .btn-start { width: 250px; } }
/* line 157, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container { visibility: hidden; opacity: 0; position: absolute; left: 0; top: 0; width: 100%; padding: 0 1rem; }
/* line 166, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group { position: absolute; left: 10%; top: 8%; width: 80%; height: 84%; overflow: hidden; }
@media (min-width: 768px) { /* line 166, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group { left: 20%; top: 10%; width: 60%; height: 80%; } }
@media (min-width: 992px) { /* line 166, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group { left: 25%; top: 10%; width: 50%; height: 80%; } }
/* line 189, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }
/* line 197, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q.active { overflow-y: auto; }
/* line 201, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .num { font-weight: 700; margin-bottom: 0.5rem; line-height: 1.2; }
/* line 206, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .num span { font-size: 1.5rem; }
/* line 211, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q h5 { font-size: 1rem; font-weight: 700; line-height: 1.4; }
@media (min-width: 576px) { /* line 211, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q h5 { font-size: 1.25rem; } }
@media (min-width: 768px) { /* line 211, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q h5 { margin-top: 1.5rem; } }
@media (min-width: 992px) { /* line 211, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q h5 { margin-top: 0; } }
/* line 229, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .option-group { margin-left: -5%; }
@media (min-width: 768px) { /* line 229, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .option-group { margin-left: 0; margin-top: 3.5rem; } }
@media (min-width: 992px) { /* line 229, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .option-group { margin-top: 0; } }
/* line 241, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .option-group .option { width: 75%; cursor: pointer; transition: width 0.4s cubic-bezier(0.8, -0.5, 0.2, 1.4); }
@media (min-width: 768px) { /* line 241, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .option-group .option { width: 80%; } }
@media (min-width: 992px) { /* line 241, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .option-group .option { width: 60%; } }
/* line 254, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .option-group .option.big { width: 85%; }
@media (min-width: 768px) { /* line 254, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .option-group .option.big { width: 90%; } }
@media (min-width: 992px) { /* line 254, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .option-group .option.big { width: 70%; } }
/* line 266, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .option-group .option.small { width: 60%; opacity: 0.6; }
@media (min-width: 768px) { /* line 266, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .option-group .option.small { width: 65%; } }
@media (min-width: 992px) { /* line 266, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .option-group .option.small { width: 45%; } }
/* line 281, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .answer { width: 86%; min-height: 280px; margin-left: 5%; font-weight: 500; white-space: pre; opacity: 0; }
@media (min-width: 768px) { /* line 281, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .answer { margin-left: 7%; min-height: 360px; } }
/* line 294, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .answer.active { opacity: 1; }
/* line 299, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .arrow-group { visibility: hidden; opacity: 0; position: relative; left: 50%; width: 50px; height: 50px; transform: translateX(-50%); cursor: pointer; }
@media (min-width: 768px) { /* line 299, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .q .arrow-group { width: 70px; height: 70px; } }
/* line 314, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .arrow-group .arrow { position: absolute; left: 50%; top: 15%; width: 100%; padding-top: 57.57%; background: url(../images/qa/arrow.png) no-repeat center center; background-size: contain; transform: translateX(-50%); animation: arrowMove 1s ease-in-out infinite; }
/* line 325, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .q .arrow-group .arrow::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/qa/arrow_filter.png) no-repeat center center; background-size: contain; opacity: 0; animation: arrowFlash 1.6s infinite; }
@keyframes arrowFlash { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes arrowMove { 0% { top: 15%; }
  50% { top: 35%; }
  100% { top: 15%; } }
/* line 365, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .final-answer { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }
/* line 373, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .final-answer .title { width: 50%; }
@media (min-width: 768px) { /* line 373, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .final-answer .title { margin-bottom: 1rem; } }
@media (min-width: 992px) { /* line 373, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .final-answer .title { margin-bottom: 0; } }
/* line 385, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .final-answer .lottery { width: 80%; margin-bottom: 1rem; }
@media (min-width: 768px) { /* line 385, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .final-answer .lottery { margin-bottom: 3rem; } }
@media (min-width: 992px) { /* line 385, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .final-answer .lottery { width: 50%; margin-bottom: 1rem; } }
/* line 399, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .final-answer .btn_lottery { width: 80%; }
@media (min-width: 768px) { /* line 399, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .final-answer .btn_lottery { width: 80%; } }
@media (min-width: 992px) { /* line 399, ../_sass/css/page/_qa.scss */
  .questions .questions-container .wrapper .question-container .question-group .final-answer .btn_lottery { width: 70%; } }
/* line 411, ../_sass/css/page/_qa.scss */
.questions .questions-container .wrapper .question-container .question-group .final-answer .btn-group { width: 90%; }

/* line 421, ../_sass/css/page/_qa.scss */
.rule { visibility: hidden; opacity: 0; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 90; background-color: transparent; }
/* line 432, ../_sass/css/page/_qa.scss */
.rule .rule-container { position: absolute; left: 50%; top: 50%; width: 90%; max-width: 500px; height: 71vh; background-color: rgba(0, 0, 0, 0.8); transform: translate(-50%, calc(-50% + 40px)); }
/* line 442, ../_sass/css/page/_qa.scss */
.rule .rule-container article { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; padding: 1rem; text-align: justify; color: #fff; }
/* line 453, ../_sass/css/page/_qa.scss */
.rule .rule-container article h5 { line-height: 1.8; margin-top: 2rem; margin-bottom: 1rem; }
/* line 458, ../_sass/css/page/_qa.scss */
.rule .rule-container article h5:first-child { margin-top: 0rem; }
/* line 463, ../_sass/css/page/_qa.scss */
.rule .rule-container article ul { list-style: none; padding-left: 1rem; }
/* line 468, ../_sass/css/page/_qa.scss */
.rule .rule-container article p { font-size: 0.9rem; }
/* line 472, ../_sass/css/page/_qa.scss */
.rule .rule-container article a { color: red; }
/* line 477, ../_sass/css/page/_qa.scss */
.rule .rule-container .rule-close { position: absolute; right: 0; top: -40px; width: 30px; height: 30px; background: url(../images/story/icon_close.png) no-repeat center center; background-size: contain; cursor: pointer; transition: transform .3s ease-in-out; }
/* line 488, ../_sass/css/page/_qa.scss */
.rule .rule-container .rule-close:hover { transform: rotate(90deg); }
